<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <script src="/webjars/angularjs/1.2.17/angular.min.js"></script>
    <script src="../scripts/app.js"></script>
    <title>Spring-boot Race</title>
</head>
<body ng-app="springBootRaceClient">

<div ng-controller="mainCtrl">
    <div class="mainConfig">
        <form name="configForm" ng-submit="startPlaying()" novalidate>
            <p>
                <label for="pseudo">Pseudo</label><input id="pseudo" type="text" ng-model="pseudo"/>
            </p>
            <p>
                <label for="serverIp">Ip du server</label><input id="serverIp" type="text" ng-model="serverIp"/>
            </p>
            <button type="submit">Jouer</button>
        </form>
    </div>
    <div class="stepContainer">
        TODO
    </div>
</div>

</body>
</html>