<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <script src="/webjars/angularjs/1.2.17/angular.min.js"></script>
    <script src="../scripts/app.js"></script>
    <title>Spring-boot Race</title>
</head>
<body ng-app="springBootRaceClient">

<div ng-controller="mainCtrl">
    <div class="mainConfig">
        <form name="configForm" ng-submit="startPlaying()" novalidate>
            <p>
                <label for="pseudo">Pseudo</label><input id="pseudo" type="text" ng-model="userPseudo" required/>
            </p>
            <p>
                <label for="serverIp">Ip du server</label><input id="serverIp" type="text" ng-model="serverIp" required/>
            </p>
            <p>
                <label for="clientIp">Votre ip</label><input id="clientIp" type="text" ng-model="clientIp"/>
            </p>
            <button type="submit">Tester la connection au serveur</button>
            <p>
                <span ng-show="configOk === 1" class="success">Cela semble bon vous pouvez commencer à jouer</span>
                <span ng-show="configOk === -1" class="error">Impossible de se connecter au serveur</span>
            </p>
        </form>
    </div>
    <div class="stepContainer">
        <div class="step1">
            <button ng-click="validateStep1()">Valider étape 1</button>
            <span ng-show="step1 === 1" class="success">{{stepValidatedMessage}}</span>
            <span ng-show="step1 === -1" class="error">{{stepNotValidatedMessage}}</span>
        </div>
        <div class="step2">
            <form ng-submit="validateStep2()">
                <input type="text" ng-model="step2Secret"/>
                <button type="submit">Valider étape 2</button>
                <span ng-show="step2 === 1" class="success">{{stepValidatedMessage}}</span>
                <span ng-show="step2 === -1" class="error">{{stepNotValidatedMessage}}</span>
            </form>
        </div>
        <div class="step3">
            <form ng-submit="validateStep3()">
                <input type="text" ng-model="step3Secret"/>
                <button type="submit">Valider étape 3</button>
                <span ng-show="step3 === 1" class="success">{{stepValidatedMessage}}</span>
                <span ng-show="step3 === -1" class="error">{{stepNotValidatedMessage}}</span>
            </form>
        </div>
        <div class="step4">
            <button ng-click="validateStep4()">Valider étape 4</button>
            <span ng-show="step4 === 1" class="success">{{stepValidatedMessage}}</span>
            <span ng-show="step4 === -1" class="error">{{stepNotValidatedMessage}}</span>
        </div>
        <div class="step5">
            <input type="text" ng-model="step5Secret"/>
            <button ng-click="validateStep5()">Valider étape 5</button>
            <span ng-show="step5 === 1" class="success">{{stepValidatedMessage}}</span>
            <span ng-show="step5 === -1" class="error">{{stepNotValidatedMessage}}</span>
        </div>
    </div>
</div>

</body>
</html>